{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags %}

{% block main %}{{ block.super }}
<div class="container">
{% editable page.videospage.content %}
{{ page.videospage.content|richtext_filters|safe }}
{% endeditable %}
    <br>
    <ul id="mainnav" style="text-align:center;" class="nav nav-tabs">

        {% with page.videospage.videos.all as videos %}
        {% for video in videos %}
        <li style="float:none; display:inline-block;" {% if forloop.first %}class="active" {% endif %}><a href="#{{ video.name | slugify }}" data-toggle="tab">{{ video.name }}</a></li>
        {% endfor %}
        {% endwith %}


    </ul>
    <br>
    <div class="tab-content">
        
        {% with page.videospage.videos.all as videos %}
        {% for video in videos %}
        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ video.name | slugify }}"><center>
                <div class="video-container">
                    <iframe src="{{ video.link }}&output=embed" frameborder="0" allowfullscreen=""></iframe>
            </div></center>
        </div>
        {% endfor %}
        {% endwith %}
    </div> <!--End all tab content-->
</div>
<br><br><br><br><br>

{% endblock %}


